*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1{
    margin: 35px 0;
    font-size: 24px;
}

button{
    display: inline-block;
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
}

input{
    padding: 10px;
}

tags input{
    padding: 0;
}

li{
    list-style: none;
}

.block{
    padding: 10px 20px;
}

.block .split-2{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin: 0 -1.2px;
    padding: 15px;
}

.gray{
    color: gray;
}

.orange{
    color: orange;
}

.green{
    color: green;
}

.red{
    color: red;
}

textarea{
    display: block;
    width: 700px;
    min-height: 300px;
    padding: 15px;
    line-height: 1.6em;
    font-size: 14px;
    font-weight: 600;
    color: #444;
}

.product-link{
    display: block;
    padding: 15px 25px;
    background: #EEE;
    color: #444;
    text-decoration: none;
    margin: 5px 0;
}
.product-link:hover{
    color: #000;
    background: #EAEAEA;
}

#list tr.success{
    background: #EFF;
}

#list tr.error{
    background: #FEF;
}

#list tr.unprocessed{
    background: #FEE;
}

#list .group-value{
    display: inline-block;
    vertical-align: top;
    padding: 2px 7px;
    background: #CCC;
    color: #444;
    border-radius: 2px;
    cursor: default;
}

#list .group-value:hover{
    background: #EEE;
}